////
/// @group Marshmallow
/// @author Mark-Ross Smith
////


@import "bower_components/normalize-scss/normalize";

/// General Base Unite.
// General
$mallow-base-unit     : 16px;
$mallow-base-space    : 1rem;
$mallow-column-count  : 12;

// Layout
$mallow-wrapper-width          : 1280px;

$mallow-small-device-width     : 640px;
$mallow-medium-device-width    : 960px;
$mallow-large-device-width     : 1280px;


// Colour Palette
$mallow-color-primary    : blue;
$mallow-color-secondary  : green;
$mallow-color-tertiary   : red;
$mallow-color-text       : black;

// Typography
$mallow-font-primary     : 'Helvetica';
$mallow-font-secondary   : 'Arial';
$mallow-font-tertiary    : 'Sans';

// Includes
@import "mallows/base";
@import "mallows/responsive";
@import "mallows/borders";
@import "mallows/fluff";
@import "mallows/mixins";
@import "mallows/typography";

