/*
*
*    Marshmallow V1.0 - Mark-Ross Smith. 
*    Mark.smith@hellomark.co.uk
*    
*    Copyright Mark-Ross LTD 2015.
*
*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------*    BASE
\*--------------------------------------*/
/**
*    Basic helper classes for simple manipulation of common CSS rules.
*
*    1. Padding, Margin, Positioning
*    2. Floats
*    3. Position
*    4. Pointer
*    5. Opacity
*    6. Overflow
*    7. Z-index
*
*/
*, *:before, *:after {
  box-sizing: border-box; }

.pt---4 {
  padding-top: -4rem; }

.pt---3 {
  padding-top: -3rem; }

.pt---2 {
  padding-top: -2rem; }

.pt---1 {
  padding-top: -1rem; }

.pt--0 {
  padding-top: 0rem; }

.pt--1 {
  padding-top: 1rem; }

.pt--2 {
  padding-top: 2rem; }

.pt--3 {
  padding-top: 3rem; }

.pl---4 {
  padding-left: -4rem; }

.pl---3 {
  padding-left: -3rem; }

.pl---2 {
  padding-left: -2rem; }

.pl---1 {
  padding-left: -1rem; }

.pl--0 {
  padding-left: 0rem; }

.pl--1 {
  padding-left: 1rem; }

.pl--2 {
  padding-left: 2rem; }

.pl--3 {
  padding-left: 3rem; }

.pb---4 {
  padding-bottom: -4rem; }

.pb---3 {
  padding-bottom: -3rem; }

.pb---2 {
  padding-bottom: -2rem; }

.pb---1 {
  padding-bottom: -1rem; }

.pb--0 {
  padding-bottom: 0rem; }

.pb--1 {
  padding-bottom: 1rem; }

.pb--2 {
  padding-bottom: 2rem; }

.pb--3 {
  padding-bottom: 3rem; }

.pr---4 {
  padding-right: -4rem; }

.pr---3 {
  padding-right: -3rem; }

.pr---2 {
  padding-right: -2rem; }

.pr---1 {
  padding-right: -1rem; }

.pr--0 {
  padding-right: 0rem; }

.pr--1 {
  padding-right: 1rem; }

.pr--2 {
  padding-right: 2rem; }

.pr--3 {
  padding-right: 3rem; }

.p---4 {
  padding: -4rem; }

.p---3 {
  padding: -3rem; }

.p---2 {
  padding: -2rem; }

.p---1 {
  padding: -1rem; }

.p--0 {
  padding: 0rem; }

.p--1 {
  padding: 1rem; }

.p--2 {
  padding: 2rem; }

.p--3 {
  padding: 3rem; }

.mt---4 {
  margin-top: -4rem; }

.mt---3 {
  margin-top: -3rem; }

.mt---2 {
  margin-top: -2rem; }

.mt---1 {
  margin-top: -1rem; }

.mt--0 {
  margin-top: 0rem; }

.mt--1 {
  margin-top: 1rem; }

.mt--2 {
  margin-top: 2rem; }

.mt--3 {
  margin-top: 3rem; }

.ml---4 {
  margin-left: -4rem; }

.ml---3 {
  margin-left: -3rem; }

.ml---2 {
  margin-left: -2rem; }

.ml---1 {
  margin-left: -1rem; }

.ml--0 {
  margin-left: 0rem; }

.ml--1 {
  margin-left: 1rem; }

.ml--2 {
  margin-left: 2rem; }

.ml--3 {
  margin-left: 3rem; }

.mb---4 {
  margin-bottom: -4rem; }

.mb---3 {
  margin-bottom: -3rem; }

.mb---2 {
  margin-bottom: -2rem; }

.mb---1 {
  margin-bottom: -1rem; }

.mb--0 {
  margin-bottom: 0rem; }

.mb--1 {
  margin-bottom: 1rem; }

.mb--2 {
  margin-bottom: 2rem; }

.mb--3 {
  margin-bottom: 3rem; }

.mr---4 {
  margin-right: -4rem; }

.mr---3 {
  margin-right: -3rem; }

.mr---2 {
  margin-right: -2rem; }

.mr---1 {
  margin-right: -1rem; }

.mr--0 {
  margin-right: 0rem; }

.mr--1 {
  margin-right: 1rem; }

.mr--2 {
  margin-right: 2rem; }

.mr--3 {
  margin-right: 3rem; }

.m---4 {
  margin: -4rem; }

.m---3 {
  margin: -3rem; }

.m---2 {
  margin: -2rem; }

.m---1 {
  margin: -1rem; }

.m--0 {
  margin: 0rem; }

.m--1 {
  margin: 1rem; }

.m--2 {
  margin: 2rem; }

.m--3 {
  margin: 3rem; }

.at---4 {
  position-top: -4rem; }

.at---3 {
  position-top: -3rem; }

.at---2 {
  position-top: -2rem; }

.at---1 {
  position-top: -1rem; }

.at--0 {
  position-top: 0rem; }

.at--1 {
  position-top: 1rem; }

.at--2 {
  position-top: 2rem; }

.at--3 {
  position-top: 3rem; }

.al---4 {
  position-left: -4rem; }

.al---3 {
  position-left: -3rem; }

.al---2 {
  position-left: -2rem; }

.al---1 {
  position-left: -1rem; }

.al--0 {
  position-left: 0rem; }

.al--1 {
  position-left: 1rem; }

.al--2 {
  position-left: 2rem; }

.al--3 {
  position-left: 3rem; }

.ab---4 {
  position-bottom: -4rem; }

.ab---3 {
  position-bottom: -3rem; }

.ab---2 {
  position-bottom: -2rem; }

.ab---1 {
  position-bottom: -1rem; }

.ab--0 {
  position-bottom: 0rem; }

.ab--1 {
  position-bottom: 1rem; }

.ab--2 {
  position-bottom: 2rem; }

.ab--3 {
  position-bottom: 3rem; }

.ar---4 {
  position-right: -4rem; }

.ar---3 {
  position-right: -3rem; }

.ar---2 {
  position-right: -2rem; }

.ar---1 {
  position-right: -1rem; }

.ar--0 {
  position-right: 0rem; }

.ar--1 {
  position-right: 1rem; }

.ar--2 {
  position-right: 2rem; }

.ar--3 {
  position-right: 3rem; }

.a---4 {
  position: -4rem; }

.a---3 {
  position: -3rem; }

.a---2 {
  position: -2rem; }

.a---1 {
  position: -1rem; }

.a--0 {
  position: 0rem; }

.a--1 {
  position: 1rem; }

.a--2 {
  position: 2rem; }

.a--3 {
  position: 3rem; }

.f--r {
  float: right; }

.f--l {
  float: left; }

.f--n {
  float: none; }

.p--s {
  position: static; }

.p--r {
  position: relative; }

.p--a {
  position: absolute; }

.cp {
  cursor: pointer; }

.o--1 {
  opacity: 0.1; }

.o--2 {
  opacity: 0.2; }

.o--3 {
  opacity: 0.3; }

.o--4 {
  opacity: 0.4; }

.o--5 {
  opacity: 0.5; }

.o--6 {
  opacity: 0.6; }

.o--7 {
  opacity: 0.7; }

.o--8 {
  opacity: 0.8; }

.o--9 {
  opacity: 0.9; }

.of--h {
  overflow: hidden; }

.of--s {
  overflow: scroll; }

.of--a {
  overflow: auto; }

.ofx--h {
  overflow-x: hidden; }

.ofx--s {
  overflow-x: scroll; }

.ofx--a {
  overflow-x: auto; }

.ofy--h {
  overflow-y: hidden; }

.ofy--s {
  overflow-y: scroll; }

.ofy--a {
  overflow-y: auto; }

.z---1 {
  z-index: -100; }

.z--0 {
  z-index: 0; }

.z--1 {
  z-index: 100; }

.z--2 {
  z-index: 200; }

.z--3 {
  z-index: 300; }

.z--4 {
  z-index: 400; }

.z--5 {
  z-index: 500; }

.z--6 {
  z-index: 600; }

.z--7 {
  z-index: 700; }

.z--8 {
  z-index: 800; }

.z--9 {
  z-index: 900; }

/*--------------------------------------*    RESPONSIVE
\*--------------------------------------*/
/**
*    Helper classes for hiding and altering widths of elements at mobile, tablet and desktop breakpoints.
*
*    1. Hide Elements
*    2. Width (column span)
*    
*/
.row:after {
  content: '';
  display: table;
  width: 100%; }

.row .column {
  float: left;
  display: block;
  width: 100%; }

.row .column[data-span="1"] {
  width: 8.33333%; }

.row .column[data-span="2"] {
  width: 16.66667%; }

.row .column[data-span="3"] {
  width: 25%; }

.row .column[data-span="4"] {
  width: 33.33333%; }

.row .column[data-span="5"] {
  width: 41.66667%; }

.row .column[data-span="6"] {
  width: 50%; }

.row .column[data-span="7"] {
  width: 58.33333%; }

.row .column[data-span="8"] {
  width: 66.66667%; }

.row .column[data-span="9"] {
  width: 75%; }

.row .column[data-span="10"] {
  width: 83.33333%; }

.row .column[data-span="11"] {
  width: 91.66667%; }

@media all and (min-width: 960px) and (max-width: 1280px) {
  .row .column[data-span-medium-device="1"] {
    width: 8.33333%; }
  .row .column[data-span-medium-device="2"] {
    width: 16.66667%; }
  .row .column[data-span-medium-device="3"] {
    width: 25%; }
  .row .column[data-span-medium-device="4"] {
    width: 33.33333%; }
  .row .column[data-span-medium-device="5"] {
    width: 41.66667%; }
  .row .column[data-span-medium-device="6"] {
    width: 50%; }
  .row .column[data-span-medium-device="7"] {
    width: 58.33333%; }
  .row .column[data-span-medium-device="8"] {
    width: 66.66667%; }
  .row .column[data-span-medium-device="9"] {
    width: 75%; }
  .row .column[data-span-medium-device="10"] {
    width: 83.33333%; }
  .row .column[data-span-medium-device="11"] {
    width: 91.66667%; } }

@media all and (min-width: 1280px) {
  .row .column[data-span-large-device="1"] {
    width: 8.33333%; }
  .row .column[data-span-large-device="2"] {
    width: 16.66667%; }
  .row .column[data-span-large-device="3"] {
    width: 25%; }
  .row .column[data-span-large-device="4"] {
    width: 33.33333%; }
  .row .column[data-span-large-device="5"] {
    width: 41.66667%; }
  .row .column[data-span-large-device="6"] {
    width: 50%; }
  .row .column[data-span-large-device="7"] {
    width: 58.33333%; }
  .row .column[data-span-large-device="8"] {
    width: 66.66667%; }
  .row .column[data-span-large-device="9"] {
    width: 75%; }
  .row .column[data-span-large-device="10"] {
    width: 83.33333%; }
  .row .column[data-span-large-device="11"] {
    width: 91.66667%; } }

@media all and (max-width: 640px) {
  .row .column[data-hide*='small-devices'] {
    display: none; } }

@media all and (min-width: 960px) and (max-width: 1280px) {
  .row .column[data-hide*='medium-devices'] {
    display: none; } }

@media all and (min-width: 1280px) {
  .row .column[data-hide*='large-devices'] {
    display: none; } }

.row .column[data-hide*='all-devices'] {
  display: none; }

/*--------------------------------------*    BORDERS
\*--------------------------------------*/
/**
*    Manipulators for controlling borders and outlines
*
*    1. Border Width
*    2. Border Color
*    3. Border Radius
*    4. Outline Width
*    5. Outline Color
*
*/
.b__w--0 {
  border-width: "0px"; }

.b__w--1 {
  border-width: "1px"; }

.b__w--2 {
  border-width: "2px"; }

.b__w--3 {
  border-width: "3px"; }

.b__w--4 {
  border-width: "4px"; }

.b__r--0 {
  border-radius: "0rem"; }

.b__r--1 {
  border-radius: "0.5rem"; }

.b__r--2 {
  border-radius: "1rem"; }

.b__r--3 {
  border-radius: "1.5rem"; }

.b__r--4 {
  border-radius: "2rem"; }

.o__w--0 {
  outline-width: "0px"; }

.o__w--1 {
  outline-width: "1px"; }

.o__w--2 {
  outline-width: "2px"; }

.o__w--3 {
  outline-width: "3px"; }

.o__w--4 {
  outline-width: "4px"; }

/*--------------------------------------*    FLUFF
\*--------------------------------------*/
/**
*    A little more marshmallow fluff...
*
*    1. Border Radius
*    2. Box Shadow
*    3. Text Shadow
*    4. Zoom
*
*/
.zm--1 {
  -webkit-transform: scale(1);
  /* Saf3.1+, Chrome */
  /* FF3.5+ */
  -ms-transform: scale(1);
  /* IE9 */
  /* Opera 10.5+ */
  transform: scale(1); }

.zm--2 {
  -webkit-transform: scale(2);
  /* Saf3.1+, Chrome */
  /* FF3.5+ */
  -ms-transform: scale(2);
  /* IE9 */
  /* Opera 10.5+ */
  transform: scale(2); }

.zm--3 {
  -webkit-transform: scale(3);
  /* Saf3.1+, Chrome */
  /* FF3.5+ */
  -ms-transform: scale(3);
  /* IE9 */
  /* Opera 10.5+ */
  transform: scale(3); }

/*--------------------------------------*    MIXINS
\*--------------------------------------*/
/**
*    Helper classes for hiding and altering widths of elements at mobile, tablet and desktop breakpoints.
*
*    1. Vendor Prefixing
*    
*/
/*--------------------------------------*    TYPOGRAPHY
\*--------------------------------------*/
/**
*    Typography helper classes for manipulating textual content
*
*    1. Font Size
*    2. Font Weight
*    3. Text Alignment
*    4. Font Family
*    5. Text Colours
*
*/
.fs--1 {
  font-size: 20px; }

.fs--2 {
  font-size: 24px; }

.fs--3 {
  font-size: 28px; }

.fw--1 {
  font-weight: 100; }

.fw--2 {
  font-weight: 200; }

.fw--3 {
  font-weight: 300; }

.fw--4 {
  font-weight: 400; }

.fw--5 {
  font-weight: 500; }

.fw--6 {
  font-weight: 600; }

.fw--7 {
  font-weight: 700; }

.ta--\> {
  text-align: right; }

.ta--\< {
  text-align: left; }

.ta--\<\> {
  text-align: center; }

.f--1 {
  font-family: "Helvetica"; }

.f--2 {
  font-family: "Arial"; }

.f--3 {
  font-family: "Sans"; }

.c--1 {
  color: blue; }

.c--2 {
  color: green; }

.c--3 {
  color: red; }

.c--\/ {
  color: black; }
