/*--------------------------------------*\
    TYPOGRAPHY
\*--------------------------------------*/

/**
*    Typography helper classes for manipulating textual content
*
*    1. Font Size
*    2. Font Weight
*    3. Text Alignment
*    4. Font Family
*    5. Text Colours
*
*/
 
 
// Manipulators for font size
.fs {
    //Reduce file size by generating less iterations
    @for $i from 1 to 4 {
        &--#{$i}  { font-size: $mallow-base-unit * (1 + ($i/4)); }
    }  
}       

// Manipulators for font weight
.fw {
    //Reduce file size by generating less iterations
    @for $i from 1 to 8 {
        &--#{$i}  { font-weight: $i*100; }
    } 
}

// Text Align Manipulators
.ta--\> {    text-align: right;   }
.ta--\< {    text-align: left;    }
.ta--\<\> {   text-align: center;  }

// Font Family Manipulators
.f--1 { font-family: $mallow-font-primary; }
.f--2 { font-family: $mallow-font-secondary; }
.f--3 { font-family: $mallow-font-tertiary; }

// Text Colors
.c--1 { color: $mallow-color-primary; }
.c--2 { color: $mallow-color-secondary; }
.c--3 { color: $mallow-color-tertiary; }
.c--\/ { color: $mallow-color-text; }
